#   all text files unix line endings
* text=auto

*.cpp   text eol=lf
*.h     text eol=lf
*.py    text eol=lf
*.sh    text eol=lf
*.lua   text eol=lf
*.txt   text eol=lf
*.svg   text eol=lf
*.mdj   text eol=lf
*.md    text eol=lf
*.make  text eol=lf

